.face {
    width: 300px;
    height: 300px;
    background: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border-radius: 15px;
    margin: 15px;
    gap: 8px;
}

body {
    margin: 50px;
}

.dot {
    background: pink;
    grid-column: 3;
    grid-row: 3;
    width: 37px;
    height: 37px;
    place-self: center;
    border-radius: 50%;
}




.top-left {
    grid-area: 2/2;
}

.top-middle {
    grid-area: 2/3;
}

.top-right {
    grid-area: 2/4;
}





.middle-left {
    grid-area: 3/2;
}

.middle-middle {
    grid-area: 3/3;
}

.middle-right {
    grid-area: 3/4;
}





.bottom-left {
    grid-area: 4/2;
}

.bottom-middle {
    grid-area: 4/3;
}

.bottom-right {
    grid-area: 4/4;
}